.contact__wrapper {
  width: 80%;
  margin-inline: auto;
  margin-top: 15rem;
}

.contact-left {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;

  .contact__header {
    font-family: $secondary-font;
    font-size: 4.9rem;
    width: 100%;
  }
  .contact__content {
    font-family: $primary-font;
    font-size: 1.6rem;
    width: 100%;
    margin-top: -15rem;
  }
  .contact__info-email {
    font-family: $primary-font;
    font-weight: 600;
    font-size: 1.6rem;
    color: #A5A5A5;
    width: 40%;
    margin-top: -30rem;
    position: relative;
    margin-left: 3rem;

    .contact__icon {
      margin-top: 1rem;
      position: absolute;
      top: -1.2rem;
      left: -3rem;
    }
  }
  .contact__info-phone {
    font-family: $primary-font;
    font-weight: 600;
    font-size: 1.6rem;
    line-height: 2.2rem;
    color: #A5A5A5;
    width: 40%;
    margin-top: -30rem;
    position: relative;

    .contact__icon {
      margin-top: 1rem;
      position: absolute;
      top: -1.2rem;
      left: -3rem;
    }
  }
}

.contact-right {
  display: flex;
  justify-content: start;
  align-items: center;
  flex-wrap: wrap;

  .contact__label-name {
    font-family: $primary-font;
    font-weight: 700;
    font-size: 1.1rem;
    color: $primary-color;
    letter-spacing: .328rem;
    line-height: 1.5rem;
    width: 100%;
    margin-left: 5rem;
  }
  .contact__input-name {
    width: 80%;
    border: none;
    border-bottom: .1rem solid #95989A;
    margin-left: 5rem;
  }
  .contact__label-email {
    font-family: $primary-font;
    font-weight: 700;
    font-size: 1.1rem;
    color: $primary-color;
    letter-spacing: .328rem;
    line-height: 1.5rem;
    width: 100%;
    margin-left: 5rem;
  }
  .contact__input-email {
    width: 80%;
    border: none;
    border-bottom: .1rem solid #95989A;
    margin-left: 5rem;
  }
  .contact__checkbox {
    width: 2.4rem;
    height: 2.4rem;
    margin-right: 3.5rem;
    cursor: pointer;

    &:checked {
      //accent-color: #fff;
      //appearance: none;
      //background-color: #55DFB4;
      //border-radius: .5rem;

      &:after {
        //content: "";
      }
    }
  }
  .contact__rules {
    font-family: $primary-font;
    font-size: 1.2rem;
    color: #707070;
    width: 70%;
  }
  .contact__btn {
    width: 22.6rem;
    height: 5.7rem;
    border-radius: 3.5rem;
    border: none;
    background-color: $primary-color;
    font-family: $primary-font;
    font-weight: 700;
    font-size: 1.3rem;
    color: #fff;
    position: relative;
    left: 38rem;
  }
}

@media only screen and (max-width: 375px) {
  .contact__wrapper {
    margin: 0;
    margin-inline: auto;
  }

  .contact-left {
    padding: 0;

    .contact__header {
      font-size: 4rem;
      margin-bottom: -3rem;
    }
    .contact__content {
      font-size: 1.6rem;
    }
    .contact__info-email {
      width: 100%;
      margin: -25rem 0 0 3rem;
    }
    .contact__info-phone {
      width: 100%;
      margin: -40rem 0 0 3rem;
    }
  }

  .contact-right {
    margin-top: -20rem;
    margin-inline: auto;
    padding: 0;

    .contact__label-name {
      margin: 0;
    }
    .contact__input-name {
      margin: 0;
      width: 100%;
    }
    .contact__label-email {
      margin: 0;
    }
    .contact__input-email {
      margin: 0;
      width: 100%;
    }
    .contact__checkbox {
      width: 2.4rem;
      height: 2.4rem;
      margin: 0 0 14rem -1rem;

    }
    .contact__rules {
      padding-left: 1rem;
      width: 90%;
    }
    .contact__btn {
      margin: 0;
      left: 0;
    }
  }
}