.pricing__header {
  font-family: $secondary-font;
  font-size: 3.6rem;
  text-align: center;
  margin-top: 10rem;
  margin-bottom: 5rem;
}

.pricing__wrapper {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

// ---------------------------------------

.pricing__panel-basic {
  border: .1rem solid $secondary-color;
  width: 23%;
  height: 46.1rem;
  @include pricing-panel;
  position: relative;

  .pricing__panel-info {
    height: 5rem;
    display: flex;
    flex-direction: column;

    .pricing__panel-header {
      @include pricing-panel-header;
    }
    .pricing__panel-price {
      @include pricing-panel-price;
      color: $secondary-color;
    }
  }

  .pricing__list {

    .pricing__list-item {
      font-family: $primary-font;
      font-size: 1.4rem;
      line-height: 4.1rem;
      position: relative;
      text-align: center;

      &:nth-child(1) {
        &:before {
          @include green-mark;
          left: -.5rem;
        }
      }

      &:nth-child(2) {
        &:before {
          @include green-mark;
          left: -.5rem;
        }
      }

      &:nth-child(3) {
        &:before {
          @include green-mark;
          left: .5rem;
        }
      }

      &:nth-child(4) {
        &:before {
          @include green-mark;
          border: .1rem solid $secondary-color;
          left: -2rem;
        }
      }

      &:nth-child(5) {
        &:before {
          @include green-mark;
          border: .1rem solid $secondary-color;
          left: -.3rem;
        }
      }
    }
  }
  .pricing__btn {
    @include pricing-btn;
    background-color: $secondary-color;
  }
}

// ------------------------------------------

.pricing__panel-professional {
  border: .1rem solid $primary-color;
  width: 25%;
  height: 50rem;
  @include pricing-panel;

  .pricing__panel-info {
    height: 5rem;
    display: flex;
    flex-direction: column;

    .pricing__panel-header {
      @include pricing-panel-header;
    }

    .pricing__panel-price {
      @include pricing-panel-price;
      color: $primary-color;
    }
  }

  .pricing__list {

    .pricing__list-item {
      font-family: $primary-font;
      font-size: 1.4rem;
      line-height: 4.1rem;
      position: relative;
      text-align: center;

      &:nth-child(1) {
        &:before {
          @include green-mark;
          left: -1rem;
        }
      }

      &:nth-child(2) {
        &:before {
          @include green-mark;
          left: -1.5rem;
        }
      }

      &:nth-child(3) {
        &:before {
          @include green-mark;
          left: .4rem;
        }
      }

      &:nth-child(4) {
        &:before {
          @include green-mark;
          left: -2rem;
        }
      }

      &:nth-child(5) {
        &:before {
          @include green-mark;
          border: .1rem solid $secondary-color;
          left: -.8rem;
        }
      }
    }

  }
  .pricing__btn {
    @include pricing-btn;
    background-color: $primary-color;
  }
}

// ------------------------------------------

.pricing__panel-premium {
  border: .1rem solid $tertiary-color;
  width: 23%;
  height: 46.1rem;
  @include pricing-panel;

  .pricing__panel-info {
    height: 5rem;
    display: flex;
    flex-direction: column;

    .pricing__panel-header {
      @include pricing-panel-header;
    }

    .pricing__panel-price {
      @include pricing-panel-price;
      color: $tertiary-color;
    }
  }

  .pricing__list {

    .pricing__list-item {
      font-family: $primary-font;
      font-size: 1.4rem;
      line-height: 4.1rem;
      position: relative;
      text-align: center;

      &:nth-child(1) {
        &:before {
          @include green-mark;
          left: .5rem;
        }
      }

      &:nth-child(2) {
        &:before {
          @include green-mark;
          left: -1rem;
        }
      }

      &:nth-child(3) {
        &:before {
          @include green-mark;
          left: .2rem;
        }
      }

      &:nth-child(4) {
        &:before {
          @include green-mark;
          left: -2rem;
        }
      }

      &:nth-child(5) {
        &:before {
          @include green-mark;
          left: -.8rem;
        }
      }
    }

  }
  .pricing__btn {
    @include pricing-btn;
    background-color: $tertiary-color;
  }
}

.pricing__panel-info {
  display: flex;
}







// RWD --------------------------------------------

@media only screen and (max-width: 375px) {
  .pricing__wrapper {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
  }

  // ---------------------------------------

  .pricing__panel-basic {
    width: 78%;
    height: 25.1rem;
    flex-direction: row;
    justify-content: center;
    padding: 0;
    margin: 0 0 5.4rem 0;

    .pricing__panel-info {
      width: 50%;
      margin-bottom: 3rem;

      .pricing__panel-header {
        padding-top: 0;
        padding-bottom: 5rem;

      }
      .pricing__panel-price {

      }
    }

    .pricing__list {
      width: 50%;
      margin-bottom: 3rem;

      .pricing__list-item {
        text-align: left;
        margin-left: 2rem;

        &:nth-child(1) {
          &:before {
            left: -2rem;
          }
        }

        &:nth-child(2) {
          &:before {
            left: -2rem;
          }
        }

        &:nth-child(3) {
          &:before {
            left: -2rem;
          }
        }

        &:nth-child(4) {
          &:before {
            left: -2rem;
          }
        }

        &:nth-child(5) {
          &:before {
            left: -2rem;
          }
        }
      }
    }
  }

  // ------------------------------------------

  .pricing__panel-professional {
    width: 90.5%;
    height: 27.7rem;
    flex-direction: row;
    justify-content: center;
    padding: 0;
    margin: 0 0 5.4rem 0;

    .pricing__panel-info {
      height: 5rem;
      display: flex;
      flex-direction: column;

      .pricing__panel-header {
        padding-top: 0;
        padding-bottom: 5rem;
      }

      .pricing__panel-price {
      }
    }

    .pricing__list {
      width: 50%;
      margin-bottom: 3rem;

      .pricing__list-item {
        text-align: left;
        margin-left: 5rem;

        &:nth-child(1) {
          &:before {
            left: -2rem;
          }
        }

        &:nth-child(2) {
          &:before {
            left: -2rem;
          }
        }

        &:nth-child(3) {
          &:before {
            left: -2rem;
          }
        }

        &:nth-child(4) {
          &:before {
            left: -2rem;
          }
        }

        &:nth-child(5) {
          &:before {
            left: -2rem;
          }
        }
      }

    }
  }

  // ------------------------------------------

  .pricing__panel-premium {
    width: 78%;
    height: 25.1rem;
    flex-direction: row;
    justify-content: center;
    padding: 0;
    margin: 0;

    .pricing__panel-info {
      width: 50%;
      margin-bottom: 3rem;
      
      .pricing__panel-header {
        padding-top: 0;
        padding-bottom: 5rem;
      }

      .pricing__panel-price {

      }
    }

    .pricing__list {
      width: 50%;
      margin-bottom: 3rem;

      .pricing__list-item {
        text-align: left;
        margin-left: 2rem;

        &:nth-child(1) {
          &:before {
            left: -2rem;
          }
        }

        &:nth-child(2) {
          &:before {
            @include green-mark;
            left: -2rem;
          }
        }

        &:nth-child(3) {
          &:before {
            left: -2rem;
          }
        }

        &:nth-child(4) {
          &:before {
            left: -2rem;
          }
        }

        &:nth-child(5) {
          &:before {
            left: -2rem;
          }
        }
      }

    }
  }

}